.pokemon-details-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-details-name> span  {
    letter-spacing: 1rem;
}
.pokemon-details-type {
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: larger;
}
.pokemon-details-type > div {
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}
.pokemon-details-image {
    max-height: 300px;
}
.pokemon-details-wrapper {
    display: flex;
    flex-direction: column;
}